# database files
db.sqlite3

# pycharm files
.idea

# pyc & pycache files
*.pyc
__pycache__

# media
media

# macOS
*.DS_Store

# frontend
fietsenrek-frontend/node_modules
fietsenrek-frontend/.tmp
fietsenrek-frontend/.yo-rc.json
