language: python
python:
  - 3.5
install:
  - pip install -r requirements/local.txt
  - pip install coverage
script: coverage run  --source="fietsenrek" fietsenrek/manage.py test fietsenrek --settings=fietsenrek.settings.local
after_success:
  - pip install codecov
  - codecov
  - bash <(curl -s https://codecov.io/bash)
notifications:
  slack: jnp3team:e8S1abCggR61cH9R0hwcXaMg

